        <!-- Todo list section -->
        <div class="row mx-1 px-5 pb-3 w-80">
            <div class="col mx-auto">

                <% if (todo.length> 0) { %>
                    <% todo.forEach(todos=> { %>

                        <!-- Todo Item 2 -->
                        <div class="row px-3 align-items-center todo-item rounded">
                            <div class="col-auto m-1 p-0 d-flex align-items-center">
                                <h2 class="m-0 p-0">
                                        <% if(todos.completed) { %>
                                        <i class="fa fa-check-square-o text-primary btn m-0 p-0" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Mark as todo"></i>
                                      <% }else { %>
                                       <i class="fa fa-square-o text-primary btn m-0 p-0" data-toggle="tooltip"
                                        data-placement="bottom" title="Mark as complete"></i>

                                    <i class="fa fa-check-square-o text-primary btn m-0 p-0 d-none"
                                        data-toggle="tooltip" data-placement="bottom" title="Mark as todo"></i>
                                        <% } %>
                                </h2>
                            </div>
                            <div class="col px-1 m-1 d-flex align-items-center">
                                <input type="text"
                                    class="form-control form-control-lg border-0 edit-todo-input bg-transparent rounded px-3"
                                    readonly value="<%= todos.name %>" title="<%= todos.name %>" />
                                <input type="text"
                                    class="form-control form-control-lg border-0 edit-todo-input rounded px-3 d-none"
                                    value="Renew car insurance" />
                            </div>
                            <div class="col-auto m-1 p-0 px-3">
                                <div class="row">
                                    <div
                                        class="col-auto d-flex align-items-center rounded bg-white border border-warning">
                                        <i class="fa fa-hourglass-2 my-2 px-2 text-warning btn" data-toggle="tooltip"
                                            data-placement="bottom" title="" data-original-title="Due on date"></i>
                                        <h6 class="text my-2 pr-2"><%= todos.until %></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto m-1 p-0 todo-actions">
                                <div class="row d-flex align-items-center justify-content-end">
                               <a href="/admin/completed/<%= todos._id %>">
                                    <h5 class="m-0 p-0 px-2">
                                        <i class="fa fa-check text-success btn m-0 p-0" data-toggle="tooltip"
                                            data-placement="bottom" title="Edit todo"></i>
                                    </h5>     
                                     </a>
                                       <h5 class="m-0 p-0 px-2">
                                        <i class="fa fa-pencil text-info btn m-0 p-0" data-toggle="tooltip"
                                            data-placement="bottom" title="Edit todo"></i>
                                    </h5>
                                    <h5 class="m-0 p-0 px-2">
                                   <a href="/admin/delete/<%= todos._id %>">
                                        <i class="fa fa-trash-o text-danger btn m-0 p-0" data-toggle="tooltip"
                                            data-placement="bottom" title="Delete todo"></i>
                                             </a>
                                    </h5>
                                </div>
                                <div class="row todo-created-info">
                                    <div class="col-auto d-flex align-items-center pr-2">
                                        <i class="fa fa-info-circle my-2 px-2 text-black-50 btn" data-toggle="tooltip"
                                            data-placement="bottom" title="" data-original-title="Created date"></i>
                                        <label class="date-label my-2 text-black-50"><%= todos.time.toLocaleTimeString() %></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                            <% } %>
            </div>
        </div>
    </div>


