<!-- This example requires Tailwind CSS v2.0+ -->
<script src="/js/sweetalert.min.js"></script>
<script src="/js/deleteRequest.js">
</script>

<link rel="stylesheet" href="/css/style2.css">
<!-- <style>
        h2,
        p,
        h5 {
            color: #333;
        }
    </style> -->

<div class="w-full overflow-hidden rounded-lg shadow-xs mt-8">
    <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
            <thead>
                <tr
                    class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                    <th class="px-4 py-3">Todo</th>
                    <th class="px-4 py-3">Title</th>
                    <th class="px-4 py-3">Status</th>
                    <th class="px-4 py-3">Date</th>
                    <th class="px-4 py-3">Actions</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-700 dark:bg-gray-800">
                <% if (todo.length> 0) { %>
                    <% todo.forEach(todos=> { %>

                        <tr class="text-gray-700 dark:text-gray-400">
                            <td class="px-4 py-3">
                                <div class="flex items-center text-sm">
                                    <!-- Avatar with inset shadow -->
                                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                        <% if(todos.completed) { %>
                                            <i class="fa fa-check" style="color: green;font-size: 35px;"></i>
                                            <% }else { %>
                                                <i class="fa fa-clock-o"
                                                    style="color: rgb(189, 189, 0);font-size: 35px;"></i>
                                                <% } %>
                                                    <div class="absolute inset-0 rounded-full shadow-inner"
                                                        aria-hidden="true">
                                                    </div>
                                    </div>
                                    <div>
                                        <p class="font-semibold">
                                            <% if(todos.completed) {%>
                                                <del>
                                                    <%= todos.name %>
                                                </del>
                                                <% } else { %>
                                                    <%= todos.name %>
                                                        <% } %>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <% if(todos.title.length> 0) { %>
                                    <%= todos.title %>
                                        <% }else { %>
                                            Empty
                                            <% } %>
                            </td>
                            <td class="px-4 py-3 text-xs">
                                <span
                                    class="px-2 py-1 font-semibold leading-tight rounded-full <% if(todos.completed) { %> bg-green-700 text-green-100 <% }else { %> text-orange-100 bg-yellow-400 <% } %>">
                                    <% if(todos.completed) { %>
                                        Finished
                                        <% }else { %> Do It <% } %>
                                </span>
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <%= todos.time.toLocaleTimeString() %>
                            </td>
                            <td class="px-4 py-3">
                                <div class="flex items-center space-x-4 text-sm">
                                    <% if(!todos.completed) {%>
                                        <button
                                            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                            aria-label="complete">
                                            <a href="/admin/completed/<%= todos._id %>">
                                                <i class="fa fa-check" style="font-size: 20px;"></i>
                                            </a>
                                        </button>
                                        <% } %> 
                                        <button
                                            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                            aria-label="Delete">
                                            <a href="/admin/delete/<%= todos._id %>">

                                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor"
                                                    viewBox="0 0 20 20">
                                                    <path fill-rule="evenodd"
                                                        d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                                        clip-rule="evenodd"></path>
                                                </svg>
                                            </a>
                                        </button>
                                </div>
                            </td>
                        </tr>
                        <%}) %>
                            <%} %>
            </tbody>
        </table>
    </div>
</div>
</div>
<script>
    setInterval(() => {
        location.reload()
    }, 200000)
</script>